@import '../../../styles/Main.scss';

.menu{
    @include menu();

    &__block{
        @include menuItem();
    }

    &__block>a{
        @include menuItemLink();
    }

    &__block>a:hover{
        color: $color_button_hover;
    }

    &__item{
        @include menuItemText();
        cursor: pointer;
    }

    &__item:hover{
        color: $color_button_hover;
    }
}