@import '../../../styles/Main.scss';
@import '../../../fonts/RubikMonoOne-Regular.ttf';

.myButton{
    @include buttonStyle(100%, 40px);
    padding: 5px 15px;
    color: $color;
    font-weight: 900;
    text-transform: uppercase;
    font-size: $font_size_elements;
    font-family: 'Rubik Mono One', sans-serif;
    

    &:hover{
        background-color: $color_button_hover;
    }

    &_disabled{
        opacity: .5;
        background-color: $color_button_hover;
    }
}