@import '../../../styles/Main.scss';

.myInput{
     @include data_entry_form(100%, 40px, $inputText, 0.9em, 5px 15px, $background_color, 3px);

    &::placeholder{
        font-size: 0.9em;
        color: #9b9b9e;
        text-transform: uppercase;
        font-family: $font_style_element;
    }

    &::-webkit-input-placeholder {
        font-size: 0.9em;
        color: #9b9b9e;
        text-transform: uppercase;
        font-family: $font_style_element;
    }

    &::-moz-placeholder {
        font-size: 0.9em;
        color: #9b9b9e;
        text-transform: uppercase;
        font-family: $font_style_element;
    }/* Firefox 19+ */
    
    &:-moz-placeholder {
        font-size: 0.9em;
        color: #9b9b9e;
        text-transform: uppercase;
        font-family: $font_style_element;
    }/* Firefox 18- */

    &:-ms-input-placeholder {
        font-size: 0.9em;
        color: #9b9b9e;
        text-transform: uppercase;
        font-family: $font_style_element;
    }

}



