@import '../../../styles/Main.scss';
@import '../../../fonts/RubikMonoOne-Regular.ttf';

.title{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

    &__text{
        @include textTitle();
        text-align: center;
        margin: auto;
    }
}