@import '../../../styles/Main.scss';

.myModal{
    @include modalFon();
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background_color_neutral;
    opacity: 0;
    z-index: 99999999;
    pointer-events: none;
    transition: 0.9s;

    &.active{
        opacity: 1;
        pointer-events: all;
    }

    &__block{
        padding: 30px;
        border-radius: 12px;
        background-color: $background_color_fourth;
        width: 60vh;
        height: auto;
        transform: scale(0);
        transition: 0.8s all;
        box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    }

    &__block.active{
        transform: scale(1);
    }
}

// 100vh?