@import './Main.scss';

.content{
    @include content_block();
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__line{
        width: 70%;
        height: 5px;
        margin: auto;
        background-color: $background_color_second;
        border-radius: 50%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 580px){
    .content{
        width: 100%;
    }
}