@import './Main.scss';

.content{
    @include content_block();

    &__line{
        width: 70%;
        height: 5px;
        margin: auto;
        background-color: $background_color_second;
        border-radius: 50%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__modal__info{
        width: 100%;
        height: auto;
        display: flex;
    }

    &__modal__info__text{
        @include textNormalDark();
        margin: auto;
        text-align: center;
    }
}

@media (max-width: 580px){
    .content{
        width: 100%;
    }
}