@import './Main.scss';

.form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    &__title{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
    }

    &__title_text{
        color: $color;
        font-weight: 700;
        text-transform: uppercase;
        font-size: $font_size_big;
        font-family: $font_style_element;
    }

    &__input{
        margin: 25px 0 0 0;
        position: relative;
    }

    &__button{
        margin: 10px auto;
        width: auto;
    }

    &__wrapper{
        width: 100%;
        display: flex;
    }

    &__block__get__img{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
    }

    &__user__img{
        width: 100%;
        overflow: hidden;
        border-radius: 50%;
    }

    &__user__img>img{
        width: 100%;
        height: auto;
    }

    &__block__get__img__button{
        display: flex;
        width: 100%;
    }

    &__block__get__img__button>button{
        width: 50%;
    }

    &__block__input{
        width: 50%;
    }
}