@import './Main.scss';

.form{
    min-width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;

    &__title{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
    }

    &__title_text{
        color: $color;
        font-weight: 700;
        text-transform: uppercase;
        font-size: $font_size_big;
        font-family: $font_style_element;
    }

    &__input{
        margin: 25px 0 0 0;
        position: relative;
    }

    &__button{
        margin: 30px auto 0 auto;
        width: 110px;
    }

    &__wrapper{
        width: 100%;
        display: flex;
    }

    &__block__input{
        width: 50%;
    }
}

.imgBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 260px;
    padding: 0 20px;

    &__userImg__wrapper{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    &__userImg{
        width: 210px;
        height: 210px;
        margin: auto;
        overflow: hidden;
        border-radius: 50%;
    }

    &__userImg>img{
        width: 100%;
        height: auto;
    }

    &__buttons{
        display: flex;
        width: 100%;
        height: 36px;
    }

    &__button{
        width: 50%;
        position: relative;
    }

    &__images{
        width: 30px;
        height: 20px;
    }
}