@import '../styles/Main.scss';

.header{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    background-color: $background_color;
}

.login{
    width: 80px;
    height: 80px;
    margin: auto 3rem;

    &__image{
        width: 80px;
        height: 80px;
    }
}



.menu{
    width: 30%;
    margin: auto 0;

    &__block{
        margin: 0;
        padding: 0;
    }

    &__item{
        display: inline-block;
        margin: 0 1rem;
    }
}
