@import '../fonts/RubikMonoOne-Regular.ttf';

$background_color: rgb(59,180,74);
$background_color_second: rgb(255,226,122);
$background_color_third: rgb(12,58,91);
$background_color_fourth: rgb(213,227,238);
$background_color_fifth: rgb(255,203,91);
$color: #222225;
$color_text: #6a6d78;
$color_button: #454855;
$color_button_hover: #6d707a;
$font_size_text: 0.6rem;
$font_size_elements: 0.8rem;
$font_style_element: 'Rubik Mono One', sans-serif;


@mixin data_entry_form($width, $height, $color, $fontSize, $padding, $border, $borderRadius){
    width: $width;
    height: $height;
    color: $color;
    font-size: $fontSize;
    padding: $padding;
    border: 1px solid $border;
    border-radius: $borderRadius;
    font-family: 'Rubik Mono One', sans-serif;
    text-transform: uppercase;
}

// 1 Вариант
// rgb(175,212,119)
// #afd477

// rgb(255,226,122)
// #ffe27a

// rgb(255,255,255)
// #ffffff




// 2 вариант
// rgb(137,199,98)
// #89c762

// rgb(255,203,91)
// #ffcb5b

// rgb(213,227,238)
// #d5e3ee




// 3 вариант
// rgb(59,180,74)
// #3bb44a

// rgb(174,196,220)
// #f6b446

// rgb(213,227,238)
// #aec4dc




// rgb(12,58,91)

// #0c3a5b

// кодворс