@import '../styles/Main.scss';

.account{
    display: grid;
    grid-template-columns: 1fr;

    &__wrapper{
        display: grid;
        padding-top: 30px;
        grid-template-columns: 0.8fr 2fr;
        width: 90%;
        margin: 30px auto;
    }
}

.account-block{
    display: flex;
    flex-direction: column;
}