@import '../../../styles/Main.scss';

.delete{
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: relative;
    border: 1px solid $color;
    border-radius: 50%;
    background-color: $main_color;

    &__text{
        position: absolute;
        left: 1.5px;
        bottom: -2px;
        font-size: 0.8rem;
        color: $background_color_fifth;
    }
}