@import '../../../styles/Main.scss';

.chart{
    min-width: 500px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__plan{
        display: flex;
        justify-content: center;
        background-color: $background;
        width: 500px;
        height: 400px;
        padding: 10px;
        margin: 20px auto 0 auto;
    }
}

@media (max-width: 660px){
    .chart{
        min-width: 400px;
        min-height: 300px;

        &__plan{
            width: 400px;
            height: 300px;
        }
    }
}

@media (max-width: 500px){
    .chart{
        min-width: 300px;
        min-height: 200px;

        &__plan{
            width: 100%;
            height: 250px;
        }
    }
}  