@import '../../../styles/Main.scss';

.dataUser{
    width: 460px;
    height: 60px;
    margin: auto;
    background-color: $background;
    display: grid;
    grid-template-columns: 160px 280px;
    padding: 10px;

    &__property_text{
        @include textInfo();
        text-transform: uppercase;
    }

    &__description{
        display: grid;
        grid-template-columns: 240px 40px;
    }

    &__description_block{
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__description_text{
        color: $color;
    }

    &__button{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 40px;
        height: 40px;
        background: none;
        border: none;
    }

    &__button>img{
        width: 20px;
        height: 20px;
    }

    &__input{
        display: grid;
        grid-template-columns: 230px 40px;
        position: relative;
    }

    &__hide_input{
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 700px){
    .dataUser {
        width: 500px;
        grid-template-columns: 100px 200px 

        &__description{
            grid-template-columns: 200px 40px;
        }
    }
}

@media (max-width: 600px){
    .dataUser {
        width: 400px;
        grid-template-columns: 100px 100px 

        &__description{
            grid-template-columns: 100px 40px;
        }
    }
}