@import '../../../styles/Main.scss';

.dataUser{
    width: 400px;
    height: 60px;
    background-color: $background;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;

    &__property_text{
        @include textInfo();
        text-transform: uppercase;
    }

    &__description{
        color: $color;
    }

    &__description{
        display: grid;
        grid-template-columns: 80% 20%;
    }

    &__button{
        cursor: pointer;
        width: 20px;
        height: 20px;
        background: none;
        border: none;
    }

    &__button>img{
        width: 20px;
        height: 20px;
    }
}