@import '../Main.scss';

.banner{
    width: 100%;
    height: auto;
    position: relative;

    &__block{
        width: 100%;
        height: auto;
        display: none;
        position: relative;
    }

    &__wrapper{
        width: 100%;
        height: auto;
    }

    &-hide{
        display: none;
    }

    &__fon{
        width: 100%;
        height: auto;
        position: relative;
    }

    &__fon>img{
        width: 100%;
        height: auto;
    }

    &__block>img{
        width: 100%;
        height: auto;
    }

    &-active{
        display: block;
    }

    &__switches{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 30px;
    }

    &__switch{
        width: 20px;
        height: 20px;
        margin: 0 10px;
        display: block;
        cursor: pointer;
        border-radius: 50%;
        border: 4px solid $background_color_third;
        background-color: $background_color_second;
    }

    &__switch:hover{
        box-shadow: 0 0 10px rgba(0,0,0,0.5) inset;
    }

    &__switch-active{
        border: 4px solid $background_color_second;
        background-color: $background_color_third;
    }
}
