@import '../Main.scss';
@import '../../fonts/RubikMonoOne-Regular.ttf';

.webcam{
    z-index: 999;
    width: 100%;
    height: 420px;
    position: relative;
    background-color: $background;
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 345px 40px;

    &__close{
        position: absolute;
        right: -10px;
        top: -10px;
    }

    &__photo{
        width: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__camera_wrapper{
        width: 98%;
        height: 260px;
        margin: auto;
        z-index: 9;
        display: flex;
        // background-color: azure;
        justify-content: center;
        align-items: center;
        // -webkit-backdrop-filter: blur(5px);
        // backdrop-filter: blur(5px);
    }

    &__camera{
        width: 240px;
        height: 240px;
        margin: auto;
        z-index: 99;
        overflow: hidden;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__video{
        display: none;
    }

    &__video_show{
        display: block;
        width: 350px;
        height: auto;
    }

    &__canvas{
        display: none;
    }

    &__image{
        display: none;
    }

    &__image_show{
        display: flex;
        justify-content: center;
        width: 240px;
        height: auto;
    }

    &__image>img{
        width: 100%;
        height: auto;
    }

    &__button__block{
        width: 100%;
    }

    &__button{
        width: 40%;
        margin: auto;
    }

    &__webcam__images{
        width: 100%;
        display: flex;
    }
}

@media (max-width: 1300px) {
}

@media (max-width: 860px) {
}

@media (max-width: 580px){
}