@import '../Main.scss';
@import '../../fonts/RubikMonoOne-Regular.ttf';

.card{
    width: 30%;
    height: 200px;
    display: flex;
    padding: 10px;
    margin-bottom: 4rem;
    flex-direction: column;
    justify-content: space-between;
    background-color: aliceblue;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
    
    &__header{
        width: 100%;
        height: 50px;
        display: flex;
        padding: 0 10px;
        justify-content: space-between;
    }

    &__header__block{
        width: 60%;
        height: auto;
        margin: auto 0;
        display: flex;
        padding: 10px 0;
    }

    &__image{
        width: 30px;
        height: 30px;
        margin: auto 0;
    }

    &__img{
        width: 100%;
        height: auto;
    }

    &__mark{
        display: flex;
    }

    &__symbol{
        display: block;
        font-size: 0.6rem;
        color: #131722;
        margin-bottom: 20px;
        font-family: 'Rubik Mono One', sans-serif;
    }

    &__name{
        margin: 0 10px;
        font-size: 2rem;
        color: #131722;
        font-weight: bold;
        font-family: 'Rubik Mono One', sans-serif;
    }

    &__close{
        margin: auto 0;
    }

    &__info{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__cost{
        width: 100%;
        height: 20px;
        display: flex;
        text-align: left;
        padding: 0 10px;
    }

    &__cost>span{
        color: $color_text;
    }

    &__footer{
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
    }

    &__footer__buttom{
        width: 45%;
    }
}

@media (max-width: 1300px) {
    .card{
        width: 46%;
    }
}

@media (max-width: 860px) {
    .card{
        width: 80%;
        margin: 2rem auto 0 auto;
    }
}

@media (max-width: 580px){
    .card{
        width: 90%;
        
        &__footer__buttom{
            width: 48%;
        }
    }
    
}