@import '../Main.scss';

.search{
    width: 80%;
    height: 90px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .search__info__form_hide{
        @include modalFon();
    }

    &__input{
        display: flex;
    }

    &__input__block{
        width: 90%;
        position: relative;
    }

    &__button{
        width: 100%;
    }

    &__sorting{
        width: 30%;
    }
}
