@import '../Main.scss';

.FormSearch{
    width: 80%;
    height: 90px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__sorting{
        width: 30%;
    }
}

@media (max-width: 570px){
    .FormSearch{
    
        &__sorting{
            width: 40%;
        }
    }
}

@media (max-width: 460px){
    .FormSearch{
    
        &__sorting{
            width: 100%;
        }
    }
}