@import '../Main.scss';

.foundCoins{
    width: 100%;
    height: 35px;
    z-index: 999999999999;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -35px;
    background-color: #000;
    border-radius: 3px 3px 0 0;

    &__wrapper{
        width: 60%;
        height: 35px;
        display: flex;
    }

    &__block{
        width: auto;
        height: auto;
        margin: auto 8px;
        position: relative;
        display: flex;
    }

    &__text{
        margin: 0 6px;
        font-weight: 700;
        font-size: 0.8rem;
        color: $color_text;
        font-family: $font_style_element;
    }

    &__info{
        width: 40%;
        display: flex;
        justify-content: flex-end;
    }

    &__info_text{
        display: block;
        margin: auto 10px;
        font-weight: 700;
        font-size: 0.6rem;
        color: $color_text;
        font-family: $font_style_element;
    }
}