@import '../Main.scss';

.search{
    display: flex;

    &__input__block{
        width: 90%;
        position: relative;
        z-index: 99999999;
    }

    &__button{
        z-index: 99999999;
        width: 10%;
        height: 40px;
    }

    &__button>button>img{
        width: 30px;
        height: auto;
    }

    &__info-hide{
        display: none;
    }

    &__info__search__hide{
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        position: fixed;
        z-index: 9999999;
        pointer-events: all;
    }
}

@media (max-width: 768px){
    .search{
        &__input__block{
            width: 85%;
        }

        &__button{
            width: 15%;
        }

    }
}

@media (max-width: 570px){
    .search{
        &__input__block{
            width: 80%;
        }

        &__button{
            width: 20%;
        }

    }
}