@import '../../../styles/Main.scss';

.myButtonSmall{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    background-color: $color_button;
    border: 1px solid $color_button;

    &:hover{
        box-shadow: 0px 0px 10px 3px $color_button_hover inset;
    }

    &__text{
        margin: auto;
        font-weight: 900;
        font-size: $font_size_big;
        color: $background_color_third;
        font-family: $font_style_element;
    }

    &__active{
        background-color: $background_color_second;
    }
}